<div class="row">
  <div class="col-xs-12 component-header">
    <h2>{{headerText}}</h2>
    <h3>{{subheaderText}}</h3>
    <button class="btn btn-primary btn-xby2">We're Hiring</button>
  </div>
</div>
<div class="row">
  <div class="hidden-xs col-sm-5 careers-2-wrapper">
    <div id="careers-2"></div>
  </div>
  <div class="col-xs-12 col-sm-7 careers-wrapper">
    <div id="careers"></div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Our Values</h4>
    <div id="our-values">
      <div class="btn-group" data-toggle="buttons"
           id="our-value-buttons" >
        <button *ngFor='let value of ourValues; let first = first'
                 type="button"
                 class="btn btn-primary"
                [class.active]="first"
                (click)="changeVisibleOurValuesDescription(value.title)">
          {{value.title}}
          <input type="radio" [id]="value.title">
        </button>             
      </div>
    </div>
    <p>
      {{visibleOurValuesDescription}}
    </p>
  </div>
</div>
<div class="row perks">
  <div class="col-xs-12">
    <h4>Perks & Benefits</h4>
    <div *ngFor='let perk of perks' class="col-xs-12 col-sm-4 perk">
      <h5>{{perk.title}}</h5>
      <p>{{perk.description}}</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Check Out Our Open Positions</h4>
    <div *ngFor="let triple of collectedOpenPositionsTriples" class="row positions">
      <ng-container *ngFor='let position of triple'>
        <button class="col-xs-12 col-sm-4 open-position"
                data-toggle="collapse" [attr.data-target]="'#' + position.id">
          <div class="count">
            {{position.locations.length}}
          </div>
          <h5>{{position.title}}</h5>
          <ul>
            <li *ngFor='let location of position.locations'>
              {{location}}
            </li>
          </ul>
        </button>
        <div class="col-xs-12 overlay collapse listings" [attr.id]="position.id">
          <table>
            <tr>
              <th>Position</th>
              <th>Location</th>
            </tr>
            <tr class="individual-listings" 
                *ngFor='let location of position.locations'>
              <td>{{ position.title }}</td>
              <td>{{ location }}</td>
            </tr>
          </table>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<app-frequently-asked-questions
  [frequentlyAskedQuestions]='frequentlyAskedQuestions'>
</app-frequently-asked-questions>