<app-page-header [headerText]="headerText"
                 [subheaderText]="subheaderText"
                 [buttonText]="buttonText"
                 (buttonClick)="scrollToOpenPositions()">
</app-page-header>
<div class="row pictures">
  <div class="col-12 col-md-6 col-no-padding">
    <img src="./assets/careers.png">
  </div>
  <div class="col-md-6 col-no-padding d-none d-md-block">
    <img src="./assets/careers2.png">
  </div>
</div>
<app-our-values-section
  [companyValues]="companyValues">
</app-our-values-section>
<app-meet-our-people-section></app-meet-our-people-section>
<app-perks-section [perks]="perks"></app-perks-section>
<app-open-positions-section
  [collectedOpenPositions]="collectedOpenPositions">
</app-open-positions-section>
<app-frequently-asked-questions
  [frequentlyAskedQuestions]="frequentlyAskedQuestions">
</app-frequently-asked-questions>
