<div class="row">
  <div class="col-xs-12">
      <h1>{{ openPosition.title }}</h1>
      <ul>
        <li>{{ openPosition.location }}</li>
        <li>{{ openPosition.team }}</li>
        <li>{{ openPosition.commitment }}</li>
      </ul>

      <div class="action-items">
        <div class="share"><i class="fas fa-share-alt"></i> Share</div>
        <a [href]='openPosition.applyUrl' target="_blank">{{ applyText }}</a>
      </div>
      

      <div id="description" [innerHtml]="openPosition.description"></div>
      <div *ngFor='let section of openPosition.sections;'
            class="section">
          <h2>{{ section.text }}</h2>
          <ul [innerHtml]="section.content">

          </ul>
      </div>

      <div class="action-items">
        <div class="share">Share</div>
        <a [href]='openPosition.applyUrl' target="_blank">{{ applyText }}</a>
      </div>
  </div>
</div>