<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-9">
    <h1>{{ openPosition.title }}</h1>
    <ul>
      <li>{{ openPosition.location }}</li>
      <li>{{ openPosition.team }}</li>
      <li>{{ openPosition.commitment }}</li>
    </ul>

    <div class="visible-xs">
      <app-career-details-action-items
        [shareLinks]='shareLinks'
        [applyUrl]='openPosition.applyUrl'
        [applyText]='applyText'></app-career-details-action-items>
    </div>
      

    <div id="description" [innerHtml]="openPosition.description"></div>
    <div *ngFor='let section of openPosition.sections;'
          class="section">
      <h2>{{ section.text }}</h2>
      <ul [innerHtml]="section.content">
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-3">
    <app-career-details-action-items
      [shareLinks]='shareLinks'
      [applyUrl]='openPosition.applyUrl'
      [applyText]='applyText'></app-career-details-action-items>
  </div>
</div>