h2 {
    color: #000;
    font-size: 1.5em;
    font-weight: 600;
    padding: 1em;
}

ul {
    padding-left: 1em;
}

ul.open-position-traits {
    text-align: center;
    padding: 0;
}

ul.open-position-traits li {
    display: inline;
}

li + li:before {
    content: "/ ";
    color: #f89829;
}