.pictures {
    margin-left: 0;
    margin-right: 0;
}

.careers-img, .careers-img-2 {
    background: url('../../assets/careers.png') no-repeat top center;
    background-size: 100% auto;
    height: 14em;
}

.careers-img {
    background: url('../../assets/careers2.png') no-repeat top center;
    background-size: 100% auto;
}

@media (min-width: 768px) {
    .careers-img, .careers-img-2 {
        height: 12em;
    }
}

@media (min-width: 992px) {
    .careers-img, .careers-img-2 {
        height: 15.5em;
    }
}

@media (min-width: 1200px) {
    .careers-img, .careers-img-2 {
        height: 17.5em;
    }
}

/*:host {
    background-color: #fff;
}

:host ::ng-deep h4 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 40px 0;
}

.row {
    background-color: #fff;
    padding-bottom: 40px;
}

.btn-group button {
    margin: 0 0 15px 0;
    display: block;
    background-color: #eb9c45;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    padding: 0 47px;
    font-size: 16px;
    font-weight: 600;
    margin: 30px 0;
}

.col-xs-12.careers-wrapper {
    padding-left: 0;
    padding-right: 0;
}

.col-sm-5.careers-2-wrapper {
    padding-left: 0;
    padding-right: 5px;
}



h5 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
}

.perks {
    background: linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
      ),
      url('../../assets/perks-background.jpg') no-repeat top center;
    background-size: cover;
    color: #fff;
}

.perk {
    padding: 10px 0;
}

@media (min-width: 768px) {
    #careers, #careers-2 {
        height: 35vw;
    }

    .col-xs-12.careers-wrapper {
        padding-left: 5px;
    }
}

@media (min-width: 1200px) {
    #careers, #careers-2 {
        height: 25vw;
    }
}


#our-values {
    margin: 5px 0;
}
.btn-group > .btn {
    background-color: transparent;
    padding: 5px 20px 5px 0;
    font-weight: normal;
    box-shadow: none;
    vertical-align: middle;
}

.btn-group > .active {
    color: #f89829;
}

.btn-group > .active:focus {
    outline: 0;
}

.row.positions {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
}

@media (min-width: 768px) {
    .btn-group > .btn {
        padding-right: 40px;
    }
}*/