h1 {
    font-weight: 600;
}

h2 {
    color: #000;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 30px;
}

ul {
    padding-left: 0;
    text-transform: uppercase;
    padding-bottom: 30px;
}

#description {
    padding-bottom: 30px;
}

ul li {
    display: inline;
}

li + li:before {
    content: "/ ";
    color: #f89829;
}

div.section ul {
    text-transform: none;
    padding-left: 25px;
}

.action-items {
    width: 150px;
    margin: 0 auto 30px auto;
    text-transform: uppercase;
}

.action-items .share {
    margin-bottom: 20px;
}

a {
    background-color: #f89829;
    padding: 10px 0;
    color: #fff;
    border: 0;
    display: block;
    text-align: center;
}

a:hover, a:focus {
    background-color: #faa500;
    text-decoration: none;
}