h1 {
    font-weight: 600;
}

h2 {
    color: #000;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 30px;
}

ul {
    padding-left: 0;
    text-transform: uppercase;
    padding-bottom: 30px;
}

#description {
    padding-bottom: 30px;
}

ul li {
    display: inline;
}

li + li:before {
    content: "/ ";
    color: #f89829;
}

div.section ul {
    text-transform: none;
    padding-left: 25px;
}