:host {
    margin-bottom: 2em;
}

img {
    display: block;
    margin: 0.5em auto;
    width: 3em;
}

a.title {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
    display: block;
}

.title > a:hover {
    color: #f9a543;
}

p > a {
    color: #666666;
    text-align: center;
    display: block;
}

div {
    background-color: #fff;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.3);
    padding: 0.5em;
    height: 10em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 768px) {
    div {
        height: 12em;
        padding: 1em;
    }
}