.row {
    background-color: #fff;
    padding-bottom: 20px;
}

.col-xs-12 {
    padding: 0 25px;
}

h2 {
    text-align: center;
    font-size: 5vw;
    margin: 6vw 0;
}

h3 {
    text-align: center;
    font-size: 6vw;
    margin: 4vw 0;
}

a {
    display: block;
    text-align: center;
    color: #ffa500;
    font-size: 8vw;
    text-decoration: none;
}

@media (min-width: 768px) {
    h2 {
        font-size: 3vw;
    }

    h3 {
        margin-left: 18vw;
        margin-right: 18vw;
        font-size: 4vw;
    }

    a {
        font-size: 5vw;
    }
}

@media (min-width: 992px) {
    h2 {
        font-size: 2.2vw;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }

    h3 {
        font-size: 3vw;
    }
}

@media (min-width: 1200px) {
    h2 {
        font-size: 1.8vw;
    }

    h3 {
        font-size: 2.5vw;
    }

    a {
        font-size: 4vw;
    }
}