.container-fluid {
    background-color: #fff;
}

svg {
    color: #f89829;
}

.description {
    text-align: center;
}

.row.values {
    margin: 2em 0;
}

.pres-title {
    color: #f89829;
    text-align: left;
}

p.presenter-info {
    font: italic bold;
    margin-bottom: 0;
}