<xby2-navbar></xby2-navbar>
<ng-container *ngIf="enableLinkedInTag">
  <noscript>
    <img
      height="1"
      width="1"
      style="display:none;"
      alt=""
      src="https://dc.ads.linkedin.com/collect/?pid=857778&fmt=gif"
    />
  </noscript>
</ng-container>
<xby2-media-header imageUrl="ICTC 2019_0.jpg"></xby2-media-header>
<div class="container-fluid" style="background-color: #fff;">
  <div class="container">
    <div class="row">
      <h2 class="col">Get to Know X by 2</h2>
    </div>
    <div class="row">
      <p class="col">
        Located in Toronto, X by 2 has over 20 years of experience working with
        leading insurers developing strategies and executing transformational
        enterprise initiatives. Bilingual in both business and technology, our
        team of architects and program leaders understand the changing insurance
        landscape, planning and delivering core insurance systems, strategic
        business applications, and enterprise integrations.
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h1 class="col" style="text-transform: none; font-size: 2rem">
      Driving Insurer Success Through Digital Transformation
    </h1>
  </div>
  <div class="row">
    <p class="col" style="text-align: center">
      We help clients capitalize on technology to drive growth and achieve
      long-term success.
    </p>
  </div>
  <div class="row">
    <xby2-service-card
      *ngFor="let service of services"
      class="col-12 col-sm-6 col-lg-3"
      [service]="service"
      [hideViewClientStory]="true"
    >
    </xby2-service-card>
  </div>
  <div class="row">
    <div class="col specialties">
      P&C . LIFE . HEALTH . PERSONAL . COMMERCIAL . BUSINESS . SPECIALTY . AUTO
      . HOME & PROPERTY
    </div>
  </div>
</div>
<xby2-media-meet-our-team></xby2-media-meet-our-team>
<xby2-media-contact></xby2-media-contact>
<xby2-footer></xby2-footer>
