<div class="container-fluid">
  <div class="container">
    <div class="row">
      <img class="col-12 col-md-6 col-lg-4" src="./assets/ICTC 2019_0.jpg">
    </div>
  </div>
</div>
<div class="container-fluid" style="background-color: #f89829">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-8 subheader">
        <div class="row">
          <h1 class="col">A New Insurance Order</h1>
        </div>
        <div class="row">
          <h2 class="col">Transformation . Innovation . InsurTech . Disruption</h2>
        </div>
        <div class="row">
          <h2 class="col"><b>February 26-27, 2019<br class="d-lg-none">
              <span class="d-none d-lg-inline"> | </span>
              Beanfield Centre, Toronto</b>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
