.row.faq {
    background-color: #ececec;
}

.panel-default {
    border: 0;
    background-color: transparent;
}

.panel-heading .accordion-toggle:after {
    content: 'v';
    float: right;
    color: #ffa500;
}
.panel-heading .accordion-toggle.collapsed:after {
    content: ">";
}

.panel-heading {
    background-color: transparent;
    padding: 0;
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 0;
}

.panel-body {
    border-top: 0;
    padding: 0 0 40px 0;
}

h5.panel-title {
    padding: 30px 0;
}

h5.panel-title a {
    text-transform: none;
    font-size: 20px;
    text-decoration: none;
    display: block;
    font-weight: 600;
}