.container-fluid {
    background-color: #e5e5e5;
}

.panel {
    margin-bottom: 1em;
}

.panel-heading .accordion-toggle.collapsed:after {
    content: ">";
}

.panel-heading .accordion-toggle:after {
    content: 'v';
    float: right;
    color: #666;
}

.panel-title {
    padding: 1em 0.5em;
}

.panel-body {
    padding: 0 0.5em 0.5em 0.5em;
}

.panel-title a {
    text-transform: none;
    font-size: 1.2em;
    text-decoration: none;
    display: block;
    font-weight: 600;
    color: #666;
}

.panel-title a:active {
    color: #666;
}

/*.row.faq {
    background-color: #ececec;
}

.panel-default {
    border: 0;
    background-color: transparent;
}




.panel-heading {
    background-color: transparent;
    padding: 0;
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 0;
}

.panel-body {
    border-top: 0;
    padding: 0 0 40px 0;
}


*/