<div class="row">
  <div class="col-sm-4">
    <app-xby2-logo></app-xby2-logo>
    <p>
      {{description}}
    </p>
  </div>
  <div class="col-sm-4">
    <ul>
      <li *ngFor='let link of links'>
        <a [routerLink]="link.link">
          <span>{{link.label}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-sm-4">
    <a *ngFor='let socialMediaLink of socialMediaLinks'
      href="{{socialMediaLink.href}}" target="_blank">
      <img src="{{socialMediaLink.imageUrl}}" />
    </a>
    <div class='location' *ngFor='let location of locations'>
      <div class='name'>{{location.name}}</div>
      <span class='address'>
      {{location.address}}<br />
      {{location.city}}, {{location.state}} {{location.zip}}<br />
      {{location.phone}}
      </span>
    </div>
  </div>
  <p class="copyright">
    &copy; X by 2 LLC<br />
    All rights Reserved
  </p>
</div>