.card {
  margin-bottom: 1em;
}

.collected-open-position {
  background-color: transparent;
  border: 0;
  padding: 1em;
  outline: 0;
  text-align: center;
}

button.btn-xby2 {
  display: inline;
  margin: 0.5em 1em;
}
