<div class="row component-header">
  <h2>{{headerText}}</h2>
  <h3>{{subheaderText}}</h3>
</div>
<div class="row component-content">
  <div id="filter">
    <h4>Filter Work</h4>
    <div class="btn-group" data-toggle="buttons"
         id="filter-work-buttons" >
        <button type="button text-right" class="btn btn-primary active"
                (click)="performFilter('all')">
          All
          <input type="radio" id="all">
        </button>
        <button type="button" class="btn btn-primary"
               (click)="performFilter('insurance')">
          Insurance
          <input type="radio" id="insurance">
        </button>
        <button type="button" class="btn btn-primary"
               (click)="performFilter('healthcare')">
          Healthcare
          <input  type="radio" id="healthcare">
        </button>                
     </div>
  </div>

  <app-client-story-listing
    *ngFor='let clientStory of filteredClientStories |
            slice: 0:clientStoryDisplayCount; index as i'
    [clientStory]='clientStory'>
  </app-client-story-listing>
  <button class="btn btn-primary btn-xby2" type="button"
          (click)="loadMoreClientStories()"
          *ngIf="clientStoryDisplayCount < filteredClientStories?.length">
    Load More
  </button>
</div>