h4 {
    display: inline;
    color: #f89829;
    font-size: 5vw;
    text-transform: uppercase;
    vertical-align: middle;
}

#filter {
    margin: 10px 25px 20px 25px;
}

.btn-group > .btn {
    background-color: transparent;
    padding: 5px 1.5vw;
    color: #363636;
    font-weight: normal;
    box-shadow: none;
    vertical-align: middle;
}

.btn-group > .active {
    color: #f89829;
}

.btn-group > .active:focus {
    outline: 0;
}

/* this section should be added to style.css */
button {
    display: block;
    margin: 7vw auto;
    background-color: #eb9c45;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    padding: 3vw 15vw;
    font-size: 5vw;
    font-weight: 600;
}

.btn-xby2[disabled]:hover, .btn-xby2[disabled]:focus {
    background-color: #eb9c45;
}

.btn-xby2:focus {
    background-color: #eba960;
}

.btn-xby2:active, .btn-xby2:hover {
    background-color: #eba960;
}

@media (min-width: 768px) {
    .btn-group > .btn {
        padding-left: 4vw;
        padding-right: 0;
        margin: 2vw 0;
    }

    #filter {
        margin-top: 25px;
    }

    button {
        font-size: 2vw;
        padding: 1vw 6vw;
        margin-top: 3vw;
    }

    h4 {
        font-size: 2vw;
    }
}

@media (min-width: 992px) {
    #filter {
        margin-left: 60px;
        margin-right: 60px;
    }
}