<div class="row">
  <div class="hero-image"
      [ngStyle]="{'background': 'linear-gradient(
                                  rgba(0, 0, 0, 0.45), 
                                  rgba(0, 0, 0, 0.45)),
                                  0% 0% / 100%
                                  url(./assets/client-story/' + clientStory.imageUrl + ')'}">
    <div class="expertises">
      <ul>
        <li *ngFor='let expertise of clientStory.expertises'>
          {{expertise}}
        </li>
      </ul>
    </div>
    <div class="client">
      {{clientStory.client}}
    </div>
    <div class="description">
      {{clientStory.title}}
    </div>
  </div>
</div>
<div class="row">
  <app-content-section class="col-xs-12" [content]="clientStory.content"></app-content-section>
</div>
<div *ngIf='clientStory.nextClientStoryId' class="row next-client-story">
  <div class="col-xs-12">
    <h2>Next Client Story</h2>
    <h3>{{clientStory.nextClientStoryDescription}}</h3>
    <a [routerLink]="['/our-work', clientStory.nextClientStoryId]">></a>
  </div>
</div>