button {
    display: block;
    margin: 0vw auto 10vw auto;
    background-color: #eb9c45;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    padding: 3vw 15vw;
    font-size: 5vw;
    font-weight: 600;
}

.btn-xby2[disabled]:hover, .btn-xby2[disabled]:focus {
    background-color: #eb9c45;
}

.btn-xby2:focus {
    background-color: #eba960;
}

.btn-xby2:active, .btn-xby2:hover {
    background-color: #eba960;
}

.col-xs-12 {
    margin-bottom: 5vw;
}

@media (min-width: 768px) {
    .btn-group > .btn {
        padding-left: 4vw;
        padding-right: 0;
        margin: 2vw 0;
    }

    #filter {
        margin-top: 25px;
    }

    button {
        font-size: 2vw;
        padding: 1vw 6vw;
        margin-top: 3vw;
    }

    h4 {
        font-size: 2vw;
    }
}

@media (min-width: 992px) {
    #filter {
        margin-left: 60px;
        margin-right: 60px;
    }
}