.col-xs-12 {
    padding: 0 1vw;
}

div {
    background-color: #fff;
    height: 50vw;
    font-family: "ptSansNarrow";
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5vw;
}

h1 {
    font-size: 7vw;
    margin: 8vw 0 0 0;
}

h2 {
    color: #333;
    font-size: 16vw;
    margin: 1vw 0 0 0;
}

a {
    color: #ffa500;
    margin: 1vw 0 0 0;
    display: block;
    font-size: 7vw;
}

.last {
    margin-bottom: 15vw;
}

@media (min-width: 768px) {
    div {
        height: 33vw;
        margin-bottom: 2vw;
    }

    h1 {
        font-size: 4vw;
        margin-top: 4vw;
    }

    h2 {
        font-size: 12vw;
    }

    a {
        font-size: 4vw;
    }

    .first, .second, .third, .last {
        width: 49%;
    }

    .first, .third {
        margin-right: 2%;
    }

    .last {
        margin-bottom: 10vw;
    }
}

@media (min-width: 992px) {
    div {
        height: 18vw;
    }

    h1 {
        font-size: 2vw;
        margin-top: 3vw;
    }

    h2 {
        font-size: 5vw;
    }

    a {
        font-size: 2vw;
    }

    .first, .second, .third, .last {
        width: 24%;
    }

    .first, .second, .third {
        margin-right: 1.33333%;
    }

    .last {
        margin-bottom: 5vw;
    }
}