<div class="container-fluid">
  <div class="container">
    <div class="row">
      <h2 class="col">Stop By Our Booth</h2>
    </div>
    <div class="row">
      <p class="col" style="margin-bottom: 3rem;">
        X by 2 is proud to be an exhibitor at the 2019 Life Insurance
        Conference. We hope you’ll be attending, and invite you to visit
        <b>Booth 26</b> where our data architects will be on hand to exchange insights
        and answer questions. Have a project you’d like to discuss?
        <a [routerLink]="'/contact-us'">Email Us</a> to
        set up a meeting.
      </p>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 offset-lg-1">
        <img src="./assets/LOMABrochure.png" />
      </div>
      <div class="col-12 col-md-6 col-lg-6 my-auto">
        <h3>
          Transforming Insurance Through Technology
        </h3>
        <p>
          Download our brochure to learn how X by 2 helps insurers respond, not react, to changes disrupting the
          industry with digitally-driven initiatives designed to transform their business.
        </p>
        <a class="btn btn-xby2 btn-xby2-large" style="display: inline-block" target="_blank"
          href="assets/media/Xby2_LifeInsuranceBrochure.pdf"
          onClick="ga('send', 'event', { eventCategory: 'Downloads', eventAction: 'Downloaded PDF', eventLabel: 'LOMA2019', eventValue: 1 });">Free
          Download
        </a>
      </div>
    </div>
  </div>
</div>
