<xby2-page-header [headerText]="headerText" [subheaderText]="subheaderText">
</xby2-page-header>
<div class="container">
  <div class="row">
    <xby2-informational-box class="col-12 col-sm-6 col-lg-3" title="Years in Business" value="20">
    </xby2-informational-box>
    <xby2-informational-box class="col-12 col-sm-6 col-lg-3" title="Employees" value="40">
    </xby2-informational-box>
    <xby2-informational-box class="col-12 col-sm-6 col-lg-3" title="Projects" value="250">
    </xby2-informational-box>
    <xby2-informational-box class="col-12 col-sm-6 col-lg-3" title="Clients" value="60">
    </xby2-informational-box>
  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>A Different Kind of Consultancy</h1>
        <p>
          For over 20 years, X by 2 has worked with industry leaders in
          healthcare, insurance, retail and more, providing high impact
          strategy, architecture and implementation services. Bilingual in both
          business and technology, our experienced team of architects and
          program leaders deliver pragmatic solutions focused on results.
          We’re not beholden to technology partners or service providers,
          instead we choose the tools best-suited to our clients' needs. You’ll
          never get our B-Team. We don’t have one. Our uncompromising standards
          apply to our people, our work and our clients' success.
        </p>
      </div>
    </div>
    <div class="row values">
      <div *ngFor="let value of values" class="col-12 col-md-6">
        <img src="{{assetPrefix}}{{ value.iconUrl }}" />
        <h3>{{ value.title }}</h3>
        <p class="description">{{ value.description }}</p>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-xby2 btn-xby2-large" [routerLink]="'/contact-us'">
        Contact Us
      </button>
    </div>
  </div>
</div>
