<app-page-header [headerText]='headerText'
                 [subheaderText]='subheaderText'>
</app-page-header>
<div class="container">
  <div class="row">
    <app-informational-box class="col-12 col-sm-6 col-lg-3"
                           title="Years in Business"
                           value="20">
    </app-informational-box>
    <app-informational-box class="col-12 col-sm-6 col-lg-3"
                           title="Employees"
                           value="40"
                           link="/careers">
    </app-informational-box>
    <app-informational-box class="col-12 col-sm-6 col-lg-3"
                           title="Projects"
                           value="250"
                           link="/contact-us">
    </app-informational-box>
    <app-informational-box class="col-12 col-sm-6 col-lg-3"
                           title="Clients"
                           value="60"
                           link="/our-work">
    </app-informational-box>
  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>A Different Approach</h1>
        <p>
          Why does the world need another IT consulting firm? It doesn't, at least
          not the typical IT consulting firm. Firms over promising and under
          delivering when it comes to quality and results. Firms that use their
          connections rather than client outcomes to generate future sales. Firms
          that create a cycle of dependence with their clients to generate continued
          revenue for themselves. Firms with "strategic partnerships" that undermine
          objectivity and taint consulting analyses with bias. Firms where
          successful delivery is achieved only sometimes, and accountability for
          results is rare to find. Firms where the "A" team makes the sale and the
          "B" team is brought in to deliver.
        </p>
        <p>
          A different approach was needed. With this premise, X by 2 was founded in
          1998 on a different set of principles to do what is lacking in typical IT
          consulting firms.
        </p>
        <ul>
            <li>
              <b>Independence and Objectivity</b> - advocate solely for our client’s
              interests. We are open and transparent about any conflicts of
              interests. We have no hidden agendas or products to sell or advocate
              for.
            </li>
            <li>
              <b>Impact and Results Driven</b> - deliver strategic value and
              results. We believe having impact and results will speak for itself
              when it comes to growing and sustaining our business.
            </li>
            <li>
              <b>Quality over Quantity</b> - increase impact and reduce total cost
              of ownership of solutions through the quality of people we hire and
              retain. We hire exceptional people, so we can deliver exceptional
              solutions and results with the smallest number of people necessary to
              deliver them. There is no "B" team.
            </li>
            <li>
              <b>Client Partnership and Self-Sufficiency</b> - enhance client
              capability by working side-by-side with our clients and freely sharing
              our knowledge and experience. We're here to help solve difficult and
              challenging problems with our clients, but we also want to help our
              clients take control of their own future.
            </li>
        </ul>
        <p>
          In the end, it turns out that a different approach is exactly what the
          industry desired, creating the opportunity for X by 2 to serve some of
          the most forward thinking insurance and healthcare organizations in
          North America over the last 20 years.
        </p>
        <p>
          Our day-to-day architecture practice is different than what it was in
          1998, and it will be different in the future for certain. That’s business
          and technology for you. But our core principles and beliefs have not
          changed and will continue to define who we are as a company and how we
          approach serving our clients.
        </p>
      </div>
    </div>
  </div>
</div>