<div class="row">
  <div class="col-xs-12">
    <h4>Check Out Our Open Positions</h4>
    <div *ngFor="let triple of collectedOpenPositionsTriples"
          class="row positions">
      <ng-container *ngFor='let position of triple'>
        <button class="col-xs-12 col-sm-4 open-position"
                data-toggle="collapse"
                [attr.id]="'button' + position.id"
                [attr.data-target]="'#' + position.id">
          <h5>{{position.title}}</h5>
          <ul>
            <li *ngFor='let listing of position.listings'>
              {{listing.location}}
            </li>
          </ul>
        </button>
        <div class="col-xs-12 overlay collapse listings"
             [attr.id]="position.id">
          <table>
            <tr>
              <th class="position-header">Position</th>
              <th class="location-header">Location</th>
            </tr>
            <tr class="individual-listings" 
                *ngFor='let listing of position.listings'>
              <td>
                <a [routerLink]="['/careers', listing.id]">
                  {{ position.title }}
                </a>
              </td>
              <td>
                <a [routerLink]="['/careers', listing.id]">
                  {{ listing.location }}
                </a>
              </td>
            </tr>
          </table>
        </div>
      </ng-container>
    </div>
  </div>
</div>