.panel {
    margin-bottom: 1em;
}

.panel-title {
    padding: 1em 0.5em;
}

.panel-body {
    padding: 0 0.5em 0.5em 0.5em;
}

.panel-title a {
    text-transform: none;
    font-size: 1.2em;
    text-decoration: none;
    display: block;
    font-weight: 600;
    color: #666;
}

.panel-title a:active {
    color: #666;
}

svg {
    float: right;
}

.faq-expanded svg.fa-plus-square {
    display: none;
}

.faq-collapsed svg.fa-minus-square {
    display: none;
}