<app-page-header [headerText]='headerText'
                 [subheaderText]='subheaderText'>
</app-page-header>
<div class="row">
  <div class="col-xs-12">
    <app-mind-share-listing *ngFor='let mindShare of filteredMindShares |
                                    slice: 0:mindShareDisplayCount;
                                    let i = index'
                            [mindShare]='mindShare'
                            [isFirst]="i % 3 === 0 ? 'first' : ''"
                            [isLast]="(i+1) % 3 === 0 ? 'last' : ''">
    </app-mind-share-listing>
  </div>
</div>