<div class="row">
  <div class="col-xs-12">
    <h1>{{mindShare.title}}</h1>
    <div class="details">
      <img *ngIf="mindShare.authorImageUrl"
           [src]="'./assets/' + mindShare.authorImageUrl" />
      <div class="author-info">
        <span>By {{mindShare.authorName}}</span>
        <span class="divider"> / </span>
        <span>{{mindShare.publishDate | date: 'fullDate'}}</span>
        <span class="divider"> / </span>
        <span>{{mindShare.readTimeInMinutes}} Minute Read</span>
      </div>
      <div class="publish-info">
        Originally Published By
        <a [href]="mindShare.publishUrl" target="_blank">
          {{mindShare.publishName}}
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <app-content-section class="col-xs-12" [content]="mindShare.content"></app-content-section>
  <div class="col-xs-12">
    <ul>
      <li id="tags-header">Tags</li>
      <li *ngFor='let tag of mindShare.tags'>{{tag}}</li>
    </ul>
  </div>
</div>
<app-next-item-section *ngIf='mindShare.nextMindShareId'
                       title="Next Mind Share"
                       [description]="mindShare.nextMindShareTitle"
                       [link]="['/our-thoughts', mindShare.nextMindShareId]">
</app-next-item-section>