h1 {
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: none;
    border-bottom: 0;
}

img {
    width: 80px;
    float: right;
}

ul {
    padding-left: 0;
    text-transform: uppercase;
}

ul li {
    display: inline;
    background-color: #ffa500;
    color: #fff;
    font-weight: 600;
    padding: 10px 12px;
    margin-right: 9px;
    line-height: 50px;
}

#tags-header {
    background-color: #fff;
    color: #000;
}

.row {
    background-color: #ececec;
}

.col-xs-12 {
    padding: 25px;
}

.col-xs-3, .col-xs-9 {
    padding-left: 0;
    padding-right: 0;
}

.author-info, .publish-info {
    font-size: 110%;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    margin-bottom: 15px;
    width: 70%;
}

.author-info span.divider {
    color: #faa500;
    margin: 0 2px;
}

.details {
    padding-left: 0;
    padding-right: 0;
}

li {
    white-space: nowrap;
}

@media (min-width: 768px) {
    h1 {
        font-size: 8vw;
    }

    .author-info {
        margin-bottom: 0;
    }

    .col-sm-3 {
        position: relative;
        top: -30px;
    }

    .details {
        width: 475px;
    }

    .author-info, .publish-info {
        width: 100%;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 6vw;
    }

    .col-xs-12 {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 5vw;
    }
}