<app-page-header [headerText]='headerText'
                 [subheaderText]='subheaderText'>
</app-page-header>
<app-filter-work (registerClick)="performFilter($event)"></app-filter-work>
<div class="row">
  <div class="col-xs-12">
    <app-mind-share-listing *ngFor='let mindShare of filteredMindShares |
                                    slice: 0:mindShareDisplayCount;'
                            [mindShare]='mindShare'>
    </app-mind-share-listing>
  </div>
</div>
<div *ngIf="mindShareDisplayCount < filteredMindShares?.length" class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary btn-xby2" type="button"
          (click)="loadMoreMindShares()">
      Load More
    </button>
  </div>
</div>