/* remove this after resolving bootstrap row/col inconsistencies */
.row.component-header {
    padding: 15px 0;
}

/* Move this section to it's own component */
h4 {
    display: inline;
    color: #f89829;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 16px;
}

#filter {
    margin: 30px 0 20px 0;
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
}

.btn-group > .btn {
    background-color: transparent;
    border: 0;
    padding: 5px 8px;
    color: #363636;
    font-weight: normal;
    box-shadow: none;
    vertical-align: middle;
    text-transform: uppercase;
    margin: 0;
}

.btn-group > .active {
    color: #f89829;
}

.btn-group > .active:focus {
    outline: 0;
}

@media (min-width: 768px) {
    h4 {
        margin-right: 30px;
    }

    .btn-group > .btn {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 992px) {
    /* remove this after resolving bootstrap row/col inconsistencies */
    .row.component-header, #filter {
        padding: 15px 60px;
    }
}

/* end movable section */

/* this section should be added to style.css */
button {
    display: block;
    margin: 0 auto 40px auto;
    background-color: #eb9c45;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    padding: 7px 50px;
    font-size: 16px;
    font-weight: 600;
}

.btn-xby2[disabled]:hover, .btn-xby2[disabled]:focus {
    background-color: #eb9c45;
}

.btn-xby2:focus {
    background-color: #eba960;
}

.btn-xby2:active, .btn-xby2:hover {
    background-color: #eba960;
}