.navbar {
  height: 100px;
  background-color: #ffffff;
  border-color: #fff;
}

.navbar-toggle:hover, .navbar-toggle:focus {
  background-color: transparent;
}

:host ::ng-deep .navbar-brand {
  padding: 25px 0 25px 25px;
}

:host ::ng-deep .navbar-toggle {
  border-color: transparent;
  padding: 30px 10px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    text-transform: uppercase;
    padding: 40px 8px;
  }

  .navbar-nav > li > a:hover, .navbar-nav > li > a.active {
    color: #ffa500;
    transition: color 0.25s ease;
  }

  .navbar-nav > li > a.contact-us:hover span {
    background-color: #ffa500;
    color: #fff;
  }

  .contact-us span {
    border: 1px solid #ffa500;
    padding: 2px 12px;
  }

  .navbar-right {
    margin-right: 25px;
  }
}

@media (min-width: 992px) {
  .navbar-brand {
    padding-left: 60px;
  }
  
  .navbar-right {
    padding-right: 60px;
  }
}

@media (min-width: 1200px) {
  .navbar {
    height: 9vw;
  }

  .navbar-nav li a {
    padding: 4vw 1vw;
    font-size: 1.7vw;
  }

  .navbar-brand {
    padding: 2vw 0vw 2vw 60px;
  }
}