.container-fluid {
  background-color: #58595b;
  border-top: 0.625rem solid #919095;
  border-bottom: 0.625rem solid #919095;
}

.container {
  background-image: url('../../../../assets/home-header/320px.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #fff;
  font-weight: normal;
  font-size: 1rem;
  background-color: #58595b;
  margin-bottom: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

h2 {
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: 1px;
  background-color: #58595b;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .container {
    padding: 0;
    background-image: url('../../../../assets/home-header/767px.jpg');
  }

  h1 {
    padding-top: 2.5rem;
    text-align: left;
  }

  h2 {
    padding-bottom: 2.5rem;
    text-align: left;
  }

  .row {
    width: 60%;
  }
}

@media (min-width: 768px) {
  .container {
    background-image: url('../../../../assets/home-header/large.jpg');
  }

  .row {
    width: 50%;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1.9rem;
    line-height: 1;
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 2.6rem;
  }
}
