label {
    display: none;
}

.form-control {
    background-color: #ececec;
    border: 0;
    font-size: 16px;
    border-radius: 0;
    box-shadow: none;
    color: #54565b;
    height: 50px;
}

textarea.form-control {
    height: 150px;
}

button {
    display: block;
    margin: 0 auto;
    background-color: #eb9c45;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    padding: 5px 30px;
    font-size: 22px;
}

.btn-primary[disabled]:hover, .btn-primary[disabled]:focus {
    background-color: #eb9c45;
}

.btn-primary:focus {
    background-color: #eba960;
}

.btn-primary:active, .btn-primary:hover {
    background-color: #eba960;
}