<div class="modal" id="navModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true"
     [style.display]="isVisible ? 'block' : 'none'">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <nav class="navbar">
        <div class="container">
        <a class="navbar-brand" routerLink="/">
          <app-logo></app-logo>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"
                (click)="handleClickCloseButton()">
          <span>Close</span>
        </button>
        </div>
      </nav>
      <ul>
        <li *ngFor='let link of links'>
          <a [routerLink]="link.link" (click)="handleClickCloseButton()">
            {{link.label}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>