<div class="container-fluid">
  <div class="container">
    <div class="row">
      <h1 class="col">Our Client Partners</h1>
    </div>
    <div class="row">
      <h2 class="col">We help leading companies achieve their most strategic goals through digital transformation.</h2>
    </div>
    <div class="row">
      <img class="col d-md-none" src="./assets/xby2_logosmobile.jpg">
      <img class="col d-none d-md-block" src="./assets/xby2_logoBanner.jpg">
    </div>
    <div class="row">
      <button class="btn btn-xby2 btn-xby2-large" [routerLink]="'contact-us'">
        Contact Us
      </button>
    </div>
  </div>
</div>
