<xby2-navbar></xby2-navbar>
<div class="container">
  <div class="row">
    <h1 class="col">
      Moving Beyond the Silos with a Modern Enterprise Data Platform
    </h1>
  </div>
  <div class="row">
    <p
      class="col"
      style="font-size: 1.5rem; text-align: center; font-weight: bold;"
    >
      A Case Study into Health Insurance Client’s Journey
    </p>
  </div>
  <div class="row">
    <p class="col" style="text-align: center; margin-bottom: 2rem;">
      Presented by:
    </p>
  </div>
  <div class="row">
    <div class="col-12 col-md-3 offset-md-2 col-lg-6 offset-lg-0">
      <img class="rounded-circle" src="./assets/authors/ahsan-siddiqi-md.jpg" />
    </div>
    <div class="col-12 col-md-7 d-md-flex col-lg-6">
      <h2>
        <b>Ahsan Siddiqi</b><br />Director - IT and Data Strategy, Architecture
      </h2>
    </div>
  </div>
  <div class="row">
    <p class="col" style="margin-top:2rem">
      Data has always been the foundation upon which agile companies are built,
      however new technologies have increased the reliance on quality data.
      Artificial Intelligence, advanced analytics and machine learning have
      opened a new realm of possibility, but many companies are finding their
      data is not up to the task.
    </p>
  </div>
  <div class="row">
    <p class="col">
      In this presentation Ahsan Siddiqi walks through an actual customer
      journey, describing how X by 2 streamlined data assets and operations for
      one health insurer.
    </p>
  </div>
  <div class="row">
    <p class="col" style="margin-top:1rem">
      Have questions? <a href="mailto:asiddiqi@xby2.com">Contact Ahsan</a>.
    </p>
  </div>
  <div class="row">
    <a
      class="btn btn-xby2 btn-xby2-large"
      style="display: inline-block; margin-top: 2rem"
      target="_blank"
      href="assets/media/EnterpriseDataStrategyCaseStudy.pdf"
      onClick="ga('send', 'event', { eventCategory: 'Downloads', eventAction: 'Downloaded PDF', eventLabel: 'Enterprise Data Platform', eventValue: 1 });"
      >Download Presentation
    </a>
  </div>
  <div class="row">
    <div class="col" style="margin-top:1rem">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/-z_nIiy1iiA"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        style="display: block; margin: 0 auto"
      ></iframe>
    </div>
  </div>
</div>
<xby2-media-contact></xby2-media-contact>
<xby2-footer></xby2-footer>
