h1 {
  font-size: 2rem;
  margin-bottom: 0.25rem;
}

h2 {
  font-size: 1.25rem;
  color: #363636;
  margin-top: 0.5rem;
}

img {
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  h2 {
    text-align: left;
    align-self: center;
  }

  h2.second {
    width: 100%;
    text-align: right;
  }
}

@media (min-width: 992px) {
  img {
    margin-right: 0;
  }
}
