label {
    display: none;
}

form {
    background-color: #fff;
    padding: 1em;
}

.form-control {
    background-color: #ececec;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: #54565b;
    height: 3em;
}

textarea.form-control {
    height: 10em;
}

textarea {
    resize: vertical;
    min-height: 10em;
}

.has-error .form-control {
    border: 1px solid  #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.alert {
    padding: 0;
}

.alert-danger {
    background-color: transparent;
    border-color: transparent;
}