.modal {
    background-color: #444;
    opacity: 1
}
  
.modal-dialog {
    margin: 0;
 }
  
.modal-dialog .navbar-header {
    background-color: #444;
}
  
.modal-dialog .navbar-header .navbar-toggle {
    color: #fff;
}
  
.modal-nav-content {
    width: 100%;
    height: auto;
}
  
.modal-nav-body ul {
    list-style-type: none;
    color: white;
    margin: 35px 0;
    padding: 0;
    width: 100%;
}
  
.modal-nav-body ul li {
    font-size: 20pt;
    padding: 12px 40px;
    font-weight: 600;
}
 
.modal-nav-body ul li a {
    color: white;
    text-decoration: none;
}