<xby2-navbar></xby2-navbar>
<div class="container">
  <div class="row">
    <h1 class="col">
      Single Page Application Architecture - A Project Proven Approach
    </h1>
  </div>
  <div class="row">
    <p class="col" style="text-align: center; margin-bottom: 2rem;">
      Presented by:
    </p>
  </div>
  <div class="row">
    <div class="col-12 col-md-3 offset-md-2 col-lg-2 offset-lg-0">
      <img class="rounded-circle" src="./assets/authors/jeff-sallans.jpg" />
    </div>
    <div class="col-12 col-md-7 d-md-flex col-lg-4">
      <h2>Jeff Sallans, Associate Director</h2>
    </div>
    <div class="col-12 col-md-3 offset-md-2 col-lg-2 offset-lg-0">
      <img class="rounded-circle" src="./assets/authors/jason-brown.jpg" />
    </div>
    <div class="col-12 col-md-7 d-md-flex col-lg-4">
      <h2>
        Jason Brown, Senior Consultant
      </h2>
    </div>
  </div>
  <div class="row">
    <p class="col" style="margin-top:2rem">
      Single Page Applications (SPA) are designed to provide customers with a
      seamless user experience without the delay of reloading page content.
      After attending this webinar you'll have a better understanding of Single
      Page Application Architecture and the business value it provides. We'll
      cover common architecture patterns, the hiring and training process, and
      common pitfalls when working in this domain.
    </p>
  </div>
  <div class="row">
    <p class="col" style="margin-top:1rem">
      Have questions? Contact <a href="mailto:jsallans@xby2.com">Jeff</a> or
      <a href="mailto:jbrown@xby2.com">Jason</a>.
    </p>
  </div>
  <div class="row">
    <a
      class="btn btn-xby2 btn-xby2-large"
      style="display: inline-block; margin-top: 2rem"
      target="_blank"
      href="assets/media/SPAWebinarDeck.pdf"
      onClick="ga('send', 'event', { eventCategory: 'Downloads', eventAction: 'Downloaded PDF', eventLabel: 'SinglePageApplications', eventValue: 1 });"
      >Download Presentation
    </a>
  </div>
  <div class="row">
    <div class="col" style="margin-top:1rem">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/JoIkLIjfv-o"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        style="display: block; margin: 0 auto"
      ></iframe>
    </div>
  </div>
</div>
<xby2-media-contact></xby2-media-contact>
<xby2-footer></xby2-footer>
