<xby2-navbar></xby2-navbar>
<div class="container">
  <div class="row">
    <h1 class="col">
      Single Page Application Architecture - A Project Proven Approach
    </h1>
  </div>
  <div class="row">
    <p class="col" style="text-align: center; margin-bottom: 2rem;">
      Presented by:
    </p>
  </div>
  <div class="row">
    <div class="col-12 col-md-3 offset-md-2">
      <img class="rounded-circle" src="./assets/authors/jeff-sallans.jpg" />
    </div>
    <div class="col-12 col-md-7 d-md-flex">
      <h2>Jeff Sallans, Associate Director</h2>
    </div>
    <div class="col-12 col-md-3 order-md-1">
      <img class="rounded-circle" src="./assets/authors/jason-brown.jpg" />
    </div>
    <div class="col-12 col-md-7 d-md-flex order-md-0">
      <h2 class="second">
        Jason Brown, Senior Consultant
      </h2>
    </div>
  </div>
</div>
<xby2-media-contact></xby2-media-contact>
<xby2-footer></xby2-footer>
