<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Client Stories</h1>
        <div class="row">
          <xby2-client-story-listing
              *ngFor="let clientStory of featuredClientStories; let i = index"
              class="col-md-6 col-lg-4 mx-auto"
              [clientStory]="clientStory">
            </xby2-client-story-listing>
        </div>
        <button class="btn btn-xby2 btn-xby2-light"
                [routerLink]="'/client-stories'">
          See All Stories
        </button>
      </div>
    </div>
  </div>
</div>
