<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Client Stories</h1>
        <h2>Our Work</h2>
        <div class="row">
          <app-client-story-listing
              *ngFor='let clientStory of featuredClientStories; let i = index'
              class="col-lg-4"
              [clientStory]='clientStory'>
            </app-client-story-listing>
        </div>
        <button class="btn btn-xby2"
                [routerLink]="'/client-stories'">
          See All
        </button>
      </div>
    </div>
  </div>
</div>
