<div class="container">
  <div class="row">
    <div class="col">
      <h1>Mind Share</h1>
      <h2>Our Thoughts</h2>
      <img [src]="'./assets/' + featuredMindShare.authorImageUrl" />
      <h4>{{featuredMindShare.title}}</h4>
      <div class="author-info">
        <span class="author">{{featuredMindShare.authorName}}</span>
        <span class="author-divider">/</span>
        {{featuredMindShare.authorTitle}}
      </div>
      <p>{{featuredMindShare.shortDescription}}</p>
      <button class="btn btn-xby2"
              [routerLink]="'/in-the-news'">
        Read More
      </button>
    </div>
  </div>
</div>
