img {
    display: block;
    margin: 0 auto 1em auto;
    width: 6em;
}

h4 {
    text-align: center;
    font-size: 2em;
    margin: 0.5em 0;
}

p {
    margin: 1em 0;
    text-align: center;
    line-height: 1.2;
}

a {
    display: block;
    text-align: center;
    font-weight: 600;
    color: #f89829;
    margin: 1em 0;
}

button {
    margin-bottom: 1em;
}

@media (min-width: 768px) {
    button {
        display: inline;
        text-align: center;
    }
}