.card {
    margin-bottom: 1em;
    padding: 0.5em;
}

p {
    text-align: center;
}

img {
    width: 4em;
    display: block;
    margin: 0 auto;
}

h3 {
    color: #f89829;
}

@media (min-width: 768px) {
    .card {
        height: 20em;
    }
}