<div class="row">
  <div class="hero-image"
      [ngStyle]="{'background': 'linear-gradient(
                                  rgba(0, 0, 0, 0.45), 
                                  rgba(0, 0, 0, 0.45)
                                ), url(./assets/' + clientStory.imageUrl + ')',
                  'background-size': '100% auto'}">
    <div class="expertises">
      <ul>
        <li *ngFor='let expertise of clientStory.expertises'>
          {{expertise}}
        </li>
      </ul>
    </div>
    <div class="client">
      {{clientStory.client}}
    </div>
    <div class="description">
      {{clientStory.title}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 our-work-content" [innerHtml]="clientStory.content">
  </div>
</div>
<div *ngIf='clientStory.nextClientStoryId' class="row next-client-story">
  <div class="col-xs-12">
    <h2>Next Client Story</h2>
    <h3>{{nextClientStoryDescription}}</h3>
    <a [routerLink]="['/our-work', clientStory.nextClientStoryId]">></a>
  </div>
</div>