.specialties {
  text-align: center;
  background-color: #6f7175;
  margin: 0 15px;
  padding: 1rem;
  color: #fff;
  font-size: 1.5rem;
}

h1 {
  text-transform: none;
  font-size: 2rem;
  margin-bottom: 0;
}

h2 {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
}
