<xby2-navbar></xby2-navbar>
<xby2-media-header
  imageUrl="icef2019.png"
  header1="DRIVE BUSINESS VALUE WITH AI"
  header2="Unleash Analytics, AI & Data to Deliver Customer Experience, Value Creation and Automation"
  dateLocation="<b>May 2-3, 2019<br class='d-lg-none' />
  <span class='d-none d-lg-inline'> | </span>Renaissance Chicago Downtown</b>"
></xby2-media-header>
<div class="container-fluid" style="background-color: #fff;">
  <div class="container">
    <div class="row">
      <h2 class="col">Get to Know X by 2</h2>
    </div>
    <div class="row">
      <p class="col">
        X by 2 is an IT consultancy that leads the strategy, architecture, and
        execution of enterprise transformation initiatives in the insurance
        industry. Experts in the insurance domain, our architects and program
        leaders help insurers translate their business goals into strategies and
        initiatives that fully capture and apply the power of data and
        technology.
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h1 class="col">
      Driving Insurer Success Through Digital Transformation
    </h1>
  </div>
  <div class="row">
    <p class="col" style="text-align: center; margin-bottom: 2rem;">
      We help clients capitalize on technology to drive growth and achieve
      long-term success.
    </p>
  </div>
  <div class="row">
    <xby2-service-card
      *ngFor="let service of services"
      class="col-12 col-sm-6 mx-auto"
      [ngClass]="services.length % 3 === 0 ? 'col-lg-4' : ''"
      [service]="service"
      [hideViewClientStory]="true"
      [isDivisibleBy3]="services.length % 3 === 0"
    >
    </xby2-service-card>
  </div>
  <div class="row">
    <div class="col specialties">
      P&C . PERSONAL . COMMERCIAL . AUTO. HOME. BUSINESS . SPECIALTY
    </div>
  </div>
</div>
<xby2-nexusai2019-meet-our-team></xby2-nexusai2019-meet-our-team>
<xby2-media-contact></xby2-media-contact>
<xby2-footer></xby2-footer>
