footer #contact {
  min-height: 350px;
  background-color: #919295;
}

footer #leftSideBar {
  max-width: 35px;
  height: 350px;
  background-color: #8b8c8e;
}

footer #social-media a {
  text-decoration: none;
}

footer svg path {
  fill: #e4e5e7;
}

/* Contact Form - Grid Items */

footer .grid-item {
  height: 123px;
  margin: 2px 0;
  padding: 10px 10px;
}

footer .social-media {
  object-fit: contain;
  text-align: center;
  background-color: #8b8c8e;
}

footer .social-text {
  font-size: 14px;
  text-align: center;
  color: #e4e5e7;
  line-height: 0;
}

footer .address {
  background-color: #8b8c8e;
  line-height: 1;
  color: #e4e5e7;
  font-size: 12px;
  padding-top: 23px;
}

footer .address-name {
  font-weight: bold;
  font-size: 1.4em;
}

@media (min-width: 992px) {
  footer .grid-item {
    height: 160px;
    margin: 7px 0;
    padding: 29px 72px;
  }

  footer .address {
    line-height: 1.3;
    font-size: 14px;
  }
}

/* Contact Form */

footer #contactForm {
  background-color: #8b8c8e;
  margin: 8px 0;
  min-height: 333px;
}

footer #contactForm label {
  color: #ffffff;
  font-weight: normal;
}

footer #contactForm input[type="text"],
#contactForm textarea {
  background-color: #9c9d9f;
  color: #fff;
  font-size: 28px;
  height: 50px;
  border: 0;
}

footer #contactForm textarea {
  height: 146px;
}

footer #contactForm input[type="text"]:focus,
#contactForm textarea:focus {
  background-color: #aeafb1;
}

footer #contactForm input[type="submit"] {
  width: 100%;
  background-color: #f89829;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  padding: 10px 0;
}

footer #sitemap {
  background-color: #484a4c;
  background-image: url("../img/sitemap-background.png");
  background-size: contain;
  background-position: -100px;
  padding: 15px 0;
}

footer #sitemap-wrapper {
  width: 95%;
  margin: 0 auto;
}

footer #sitemap .sitemap-title {
  color: #c6c6c6;
  font-size: 16px;
}

footer #sitemap ul li {
  list-style-type: none;
  font-weight: bold;
  color: #ffffff;
  line-height: 2.14;
  padding: 3px 0 0 15px;
}

footer #copyright {
  height: 40px;
  padding: 10px 20px;
  background-color: #5d5e60;
  color: #bababa;
}

footer #copyright a {
  color: #bababa;
}
