.navbar-header {
  height: 100px;
}

.navbar-header svg {
  margin: 25px 0 25px 10px;
}

.navbar-brand {
  padding: 0;
}

.navbar,
.navbar-inverse {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  height: 100px;
  background-color: #cbcbcb;
  background-image: url('../img/header-background.png');
  background-position: -100px 0;
  background-repeat: repeat-x;
  background-size: auto 100px;
  padding: 0 25px;
  opacity: 0.95;
}

.navbar-inverse .navbar-toggle {
  border: 0;
  margin: 29px 10px;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #909397;
  width: 45px;
  height: 5px;
}

.nav li {
  display: inline;
  padding: 39px 0;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  border-bottom: 1px solid #96979B;
}

.navbar-inverse .navbar-nav > li > a > a {
  text-decoration: none;
  font-weight: normal;
  color: #c1c2c4;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a > a:hover  {
  font-weight: bold;
  text-decoration: none;
  color: #505050;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}

header #header-logo {
  padding: 25px 0;
}

@media (min-width: 992px) {
  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus {
    border-bottom: 2px #f99925 solid;
    text-decoration: none;
    font-weight: bold;
    color: #505050;
    background-color: transparent;
  }

  .navbar-inverse .navbar-nav > li > a {
    padding: 0 25px;
    margin: 0 2px;
    border-bottom: 2px #dfdfdf solid;
    color: #505050;
    text-decoration: none;
  }

  .navbar-inverse .navbar-nav > li > a > a {
    color: #505050;
  }
}