<xby2-navbar></xby2-navbar>
<div class="container">
  <div class="row">
    <h1 class="col">
      Navigating a Large Transformation Program: A Checklist for P&C Insurers
    </h1>
  </div>
  <div class="row">
    <p class="col" style="text-align: center; margin-bottom: 2rem;">
      Presented by:
    </p>
  </div>
  <div class="row">
    <div class="col-12 col-md-3 offset-md-2 col-lg-2 offset-lg-0">
      <img class="rounded-circle" src="./assets/authors/oleg.png" />
    </div>
    <div class="col-12 col-md-7 d-md-flex col-lg-4">
      <h2>Oleg Sadykhov<br />Principal & Senior Architect, X by 2</h2>
    </div>
    <div class="col-12 col-md-3 offset-md-2 col-lg-2 offset-lg-0">
      <img class="rounded-circle" src="./assets/authors/krishna.jpg" />
    </div>
    <div class="col-12 col-md-7 d-md-flex col-lg-4">
      <h2>Krishna Prasad<br />Senior Program Manager, X by 2</h2>
    </div>
  </div>
  <div class="row">
    <p class="col" style="margin-top:2rem">
      The pressure for P&C insurers to modernize the user journey for customers,
      agents and underwriters is constantly increasing, but modernizing a core
      legacy system can be a daunting task. X by 2 has developed a
      practice-tested blueprint to guide P&C insurers through this journey.
    </p>
  </div>
  <div class="row">
    <p class="col">
      In this webinar we’ll outline our pragmatic approach and provide
      step-by-step guide to achieving a successful modernization program.
    </p>
  </div>
  <div class="row">
    <p class="col" style="margin-top:1rem">
      Have questions? <a href="mailto:contact@xby2.com">Contact Us</a>.
    </p>
  </div>
  <div class="row">
    <div class="col" style="margin-top:1rem">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/-z_nIiy1iiA"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        style="display: block; margin: 0 auto"
      ></iframe>
    </div>
  </div>
</div>
<xby2-media-contact></xby2-media-contact>
<xby2-footer></xby2-footer>
