.container-fluid {
  background-color: #fff;
}

img {
  width: 75%;
  display: block;
  margin: 0 auto 1rem auto;
  max-width: 150px;
}

h2 {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
}

h3 {
  color: #f89829;
  text-transform: none;
  text-align: left;
  font-weight: bold;
  font-size: 1.5rem;
}

h4 {
  color: #f89829;
}
