<div class="container-fluid">
  <div class="container">
    <div class="row">
      <h2 class="col">Stop By Our Booth</h2>
    </div>
    <div class="row">
      <p class="col" style="margin-bottom: 3rem;">
        X by 2 is proud to be a Gold Sponsor of this year’s conference and
        invite you to visit our booth where our architects will be on hand to
        exchange insights and answer questions. Have a project you’d like to
        discuss? <a [routerLink]="'/contact-us'">Email Us</a> to set up a
        meeting. We also hope you’ll attend our session on data analytics
        strategy, presented by Zahid Ansari.
      </p>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">
        <img class="rounded-circle" src="./assets/authors/zahid-ansari.jpg" />
      </div>
      <div class="col-12 col-md-6 col-lg-9">
        <h3 style="margin-bottom: 0">
          Be the Change: Deploying Data Analytics for Strategic Advantage
        </h3>
        <i>Thursday, May 2 - 4:10 pm</i>
        <p style="margin-top: 1rem">
          <b>Zahid Ansari - BI and Analytics Architect, X by 2</b>
        </p>
        <p>
          How insurers can take their data analytics approach from the tactical
          to the strategic for increased competitiveness and profitability over
          the long-term.
        </p>
      </div>
    </div>
    <div
      class="row"
      style="margin-top: 2rem; padding-top: 2rem; border-top: 2px solid #6f7175"
    >
      <div class="col-12 col-md-6">
        <div class="row" style="display: flex; align-items: flex-end">
          <div class="col-8">
            <div><strong>Yunus Burhani</strong></div>
            <div><strong>Software & Data Architect</strong></div>
          </div>
          <div class="col-4">
            <img
              class="rounded-circle"
              src="./assets/authors/yunus-burhani.jpg"
              style="margin: 0 0 0 auto; width: 100%"
            />
          </div>
        </div>
        <div class="row" style="margin-top: 1rem; margin-bottom: 1rem">
          <div class="col">
            A senior data and software architect , Yunus has a 19 year track
            record for delivering practical, scalable and extensible
            architectures and solutions for large-scale enterprise data and
            application initiatives. His expertise also includes
            service-oriented architecture, agile methodologies, web services,
            and integration.
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row" style="display: flex; align-items: flex-end">
          <div class="col-8">
            <div><strong>Yasir Hussain</strong></div>
            <div><strong>Principal & Software Architect</strong></div>
          </div>
          <div class="col-4">
            <img
              class="rounded-circle"
              src="./assets/authors/yasir-hussain.jpg"
              style="margin: 0 0 0 auto; width: 100%"
            />
          </div>
        </div>
        <div class="row" style="margin-top: 1rem; margin-bottom: 1rem">
          <div class="col">
            Yasir has a passion for helping businesses through transformation
            and disruption. He has over 13 years of experience advising client
            leadership on their technology strategies and providing program and
            architecture leadership for the delivery of strategic business
            application and enterprise integration initiatives.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
