<div class="container-fluid">
  <div class="container">
    <div class="row">
      <h2 class="col">Stop By Our Booth</h2>
    </div>
    <div class="row">
      <p class="col" style="margin-bottom: 3rem;">
        X by 2 is proud to be a Gold Sponsor of this year’s conference and invite you to visit our booth where our
        architects will be on hand to exchange insights and answer questions. Have a project you’d like to discuss? <a
          [routerLink]="'/contact-us'">Email Us</a> to set up a meeting. We also hope you’ll attend our session on data
        analytics strategy, presented by Zahid Ansari.
      </p>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">
        <img class="rounded-circle" src="./assets/authors/zahid-ansari.jpg" />
      </div>
      <div class="col-12 col-md-6 col-lg-9">
        <h3 style="margin-bottom: 0">
          Be the Change: Deploying Data Analytics for Strategic Advantage
        </h3>
        <i>Thursday, May 2 - 4:10 pm</i>
        <p style="margin-top: 1rem">
          <b>Zahid Ansari - BI and Analytics Architect, X by 2</b>
        </p>
        <p>
          How insurers can take their data analytics approach from the tactical to the strategic for increased
          competitiveness and profitability over the long-term.
        </p>
      </div>
    </div>
  </div>
</div>
