.col-sm-4 {
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 6vw;
}

img {
    width: 100%;
}

h4 {
    text-align: center;
    color: #919295;
    margin: 6vw 1.5vw 0 1.5vw;
    font-size: 7vw;
}

hr {
    border-top: 1px solid #eb9c45;
    width: 35%;
    margin: 20px auto;
}

p {
    margin: 1.5vw;
    text-align: center;
    line-height: 1.2;
    font-size: 5vw;
    color: #666666;
}

a.read-more-link {
    text-transform: none;
    color: #eb9c45;
    display: block;
    text-align: center;
    font-weight: 600;
    padding: 10px 0;
    font-size: 5vw;
}

@media (min-width: 768px) {
    .col-sm-4 {
        height: 35vw;
        width: 32.3333333%;
        margin-bottom: 1.5vw;
    }

    .col-sm-4.first {
        margin-right: 1.5%;
    }
    
    .col-sm-4.last {
        margin-left: 1.5%;
    }

    h4 {
        font-size: 2.3vw;
        height: 6vw;
        margin-top: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
    }

    hr {
        margin: 1vw auto;
    }

    p {
        font-size: 1.8vw;
    }

    a.read-more-link {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 5px;
        font-size: 2vw;
    }
}

@media (min-width: 992px) {
    .col-sm-4 {
        height: 36vw;
    }
}

@media (min-width: 1200px) {
    .col-sm-4 {
        height: 32vw;
    }

    h4 {
        font-size: 2.2vw;
        height: 4vw;
    }

    hr {
        margin: 2vw auto;
    }

    p {
        font-size: 1.4vw;
    }

    a.read-more-link {
        font-size: 1.8vw;
        bottom: 1vw;
    }
}
