div {
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1.5em;
}

img {
    width: 100%;
}

h4 {
    text-align: center;
    color: #919295;
    margin: 0.75em 2em;
    font-size: 1.5em;
}

hr {
    border-top: 1px solid #f89829;
    width: 35%;
    margin: 1em auto;
}

p {
    margin: 1em;
    text-align: center;
    color: #666666;
}

a.read-more-link {
    text-transform: uppercase;
    color: #f89829;
    display: block;
    text-align: center;
    font-weight: 600;
    padding: 1em 0;
}


@media (min-width: 992px) {
    div {
        height: 21em;
    }

    h4 {
        height: 2.5em;
        margin-left: 1em;
        margin-right: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
    }

    a.read-more-link {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 1.5em;
    }
}