div {
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1.5em;
    padding-bottom: 1px;  /* why does this work? */
}

img {
    width: 100%;
}

h4 {
    text-align: center;
    margin: 0.75em 2em;
    font-size: 1.5em;
}

hr {
    border-top: 1px solid #f89829;
    width: 35%;
    margin: 1em auto;
}

p {
    margin: 1em;
    text-align: center;
}

.card {
    display: block;
    position: initial;
}

@media (min-width: 992px) {
    div {
        height: 19em;
    }

    h4 {
        margin-left: 1em;
        margin-right: 1em;
    }
    
    div.card-bottom {
        height: auto;
        position: absolute;
        background-color: transparent;
        bottom: 1em;
        width: 100%;
        left: 0;
    }
}