<app-page-header [headerText]='headerText'
                 [subheaderText]='subheaderText'>
</app-page-header>

<div class="container">
  <div class="row">
    <app-button-group class="col text-center"
                     [buttonGroupItems]="buttonGroupItems"
                     (registerClick)="performFilter($event)"></app-button-group>
  </div>
  <div class="row">
    <app-mind-share-listing
       class="col-12 col-md-6 col-lg-4"
      *ngFor='let mindShare of filteredMindShares |
              slice: 0:mindShareDisplayCount'
      [mindShare]='mindShare'>
    </app-mind-share-listing>
  </div>
  <div class="row">
    <div class="col">
      <button *ngIf="mindShareDisplayCount < filteredMindShares?.length"
              class="btn btn-xby2 btn-xby2-light" type="button"
              (click)="loadMoreMindShares()">
        Load More
      </button>
    </div>
  </div>
</div>