img {
    width: 6em;
    margin: 0 auto 1em auto;
    display: block;
}

.col-6 {
    margin-bottom: 1em;
}

.card {
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
}

@media (min-width: 576px) {
    .card {
        height: 15em;
    }
}

@media (min-width: 768px) {
    .card {
        height: 18em;
    }
}

@media (min-width: 992px) {
    .card {
        height: 15em;
    }
}