<div class="container-fluid">
  <div class="container">
    <div class="row">
      <h2 class="col">Download Our ICTC Presentation</h2>
    </div>
    <div class="row">
      <p class="col">
        If you missed our presentation at ICTC 2019, download it below or
        <a [routerLink]="'/contact-us'">contact us</a> to have our team walk you
        through it.
      </p>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">
        <img
          class="rounded-circle"
          src="./assets/authors/ahsan-siddiqi-lg.jpg"
        />
      </div>
      <div class="col-12 col-md-6 col-lg-9">
        <h3>
          Stuck With Legacy? A Case Study In Transforming Your Business Systems
        </h3>
        <p>
          <b
            >Ahsan Siddiqi, Director - IT, Data Strategy & Architecture, X by
            2</b
          >
        </p>
        <p>
          The majority of insurance companies around the world have modernized
          their core insurance systems. But many Canadian insurance carriers are
          still shackled by legacy systems that prevent them from providing a
          modern experience to their customers.
        </p>
        <p>
          In this case study, Ahsan will discuss one company's journey as it
          worked to transform the customer experience.
        </p>
      </div>
    </div>
    <div class="row">
      <a
        class="btn btn-xby2"
        target="_blank"
        href="assets/media/ICTC 2019 - TRANSFORMING YOUR LEGACY SYSTEMS.pdf"
        onClick="ga('send', 'event', { eventCategory: 'Downloads', eventAction: 'Downloaded PDF', eventLabel: 'ICTC2019', eventValue: 1 });"
        >Download Presentation</a
      >
    </div>
  </div>
</div>
