<div class="container-fluid">
  <div class="container">
    <div class="row">
      <h2 class="col">Meet Our Team at ICTC</h2>
    </div>
    <div class="row">
      <p class="col">
        We're proud to be a Silver Sponsor of this year's conference, and invite
        you to visit <b>Booth #17 and 18</b> and learn more about the
        full-service offerings we provide. We also hope you'll attend our
        session on modernizing legacy systems, presented by Ashan Siddiqi.
      </p>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">
        <img
          class="rounded-circle"
          src="./assets/authors/ahsan-siddiqi-lg.jpg"
        />
      </div>
      <div class="col-12 col-md-6 col-lg-9">
        <h3>
          Stuck With Legacy? A Case Study In Transforming Your Business Systems
        </h3>
        <h4>Wednesday, February 27th | 8:30am - Main Track</h4>
        <p>
          <b
            >Ahsan Siddiqi, Director - IT, Data Strategy & Architecture, X by
            2</b
          >
        </p>
        <p>
          The majority of insurance companies around the world have modernized
          their core insurance systems. But many Canadian insurance carriers are
          still shackled by legacy systems that prevent them from providing a
          modern experience to their customers.
        </p>
        <p>
          In this case study, Ahsan will discuss one company's journey as it
          worked to transform the customer experience.
        </p>
      </div>
    </div>
  </div>
</div>
