<form #form="ngForm" (submit)="submitForm(form)" novalidate>
  <div class="form-group col-sm-6">
  <label class="control-label">First Name</label>
  <input type="text" class="form-control" #firstName
          name="firstName" required [(ngModel)]="contact.firstName"
          placeholder="First Name (*required)" />
  </div>

  <div class="form-group col-sm-6">
    <label class="control-label">Last Name</label>
    <input type="text" class="form-control" #lastName
          name="lastName" required [(ngModel)]="contact.lastName"
          placeholder="Last Name (*required)" />
  </div>

  <div class="form-group col-sm-6">
    <label class="control-label">Email</label>
    <input type="text" class="form-control" #email
          name="email" required [(ngModel)]="contact.email"
          placeholder="Email (*required)" />
  </div>

  <div class="form-group col-sm-6">
    <label class="control-label">Phone Number</label>
    <input type="text" class="form-control" #phoneNumber
          name="phoneNumber" required [(ngModel)]="contact.phoneNumber"
          placeholder="Phone Number (*required)" />
  </div>

  <div class="form-group col-sm-6">
    <label class="control-label">Company Name</label>
    <input type="text" class="form-control" #companyName
          name="companyName" [(ngModel)]="contact.companyName"
          placeholder="Company Name (*optional)" />
  </div>

  <div class="form-group col-sm-6">
    <label class="control-label">Your Role/Title</label>
    <input type="text" class="form-control" #title
          name="title" [(ngModel)]="contact.title"
          placeholder="Your title/role (*optional)" />
  </div>

  <div class="form-group col-sm-12">
    <label class="control-label">How can we help you? (*required)</label>
    <textarea class="form-control" #message required
          name="message" [(ngModel)]="contact.message"
          placeholder="How can we help you? (*required)"></textarea>
  </div>

  <button class="btn btn-primary btn-xby2" type="submit"
          [disabled]="form.invalid || submitDisabled">
    Submit
  </button>
</form>