h4 {
    display: inline;
    color: #eb9c45;
    font-size: 5vw;
    text-transform: uppercase;
    vertical-align: middle;
}

button {
    margin: 10vw auto;
    border: 0;
    text-transform: uppercase;
    padding: 3vw 15vw;
    font-size: 5vw;
    font-weight: 600;
}


.btn-group > .btn {
    background-color: transparent;
    padding: 5px 1.5vw;
    font-weight: normal;
    box-shadow: none;
    vertical-align: middle;
}

.btn-group > .active {
    color: #eb9c45;
}

.btn-group > .active:focus {
    outline: 0;
}

@media (min-width: 768px) {
    .row {
        margin-top: 3vw;
        margin-bottom: 1vw;
    }

    .btn-group > .btn {
        padding-left: 4vw;
        padding-right: 0;
        margin: 2vw 0;
    }

    button {
        font-size: 2vw;
        padding: 1vw 6vw;
        margin-top: 3vw;
    }

    h4 {
        font-size: 2vw;
    }
}