<div class="row">
  <div class="col-xs-12">
      <h4>Filter Work</h4>
      <div class="btn-group" data-toggle="buttons"
           id="filter-work-buttons" >
          <button type="button text-right" class="btn btn-primary active"
                  (click)="handleClick('all')">
            All
            <input type="radio" id="all">
          </button>
          <button type="button" class="btn btn-primary"
                 (click)="handleClick('insurance')">
            Insurance
            <input type="radio" id="insurance">
          </button>
          <button type="button" class="btn btn-primary"
                 (click)="handleClick('healthcare')">
            Healthcare
            <input type="radio" id="healthcare">
          </button>
       </div>
  </div>
</div>