h4 {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

p, ul {
    margin-top: 25px;
}

.expertise {
    background-color: #ececec;
    padding: 35px 15px 15px 15px;
}

@media (min-width: 768px) {
    h4 {
        font-size: 36px;
    }

    img {
        float: right;
    }

    .expertise {
        padding-left: 60px;
        padding-right: 60px;
    }
}