<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Careers</h1>
        <hr />
        <p>Join our team! We're looking for people with a passion for
          technology, problem solving and leadership.</p>
        <div class="row">
          <app-open-position-card
            *ngFor="let openPosition of featuredOpenPositions"
            [openPosition]="openPosition"
            class="col-12 col-md-6 col-lg-4">
          </app-open-position-card>
        </div>
        <button class="btn btn-xby2 btn-xby2-light"
               [routerLink]="'/careers'">
          View All Jobs
        </button>
      </div>
    </div>
  </div>
</div>