h1 {
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: none;
    border-bottom: 0;
}

img {
    width: 80px;
    float: right;
}

ul {
    padding-left: 0;
    text-transform: uppercase;
}

ul li {
    display: inline;
    background-color: #ffa500;
    color: #fff;
    font-weight: 600;
    padding: 10px 12px;
    margin-right: 9px;
    line-height: 50px;
}

/* specifically for "next" section" */

h2 {
    color: #363636;
    text-align: center;
    font-size: 16px;
}

h3 {
    text-align: center;
}

.next-mind-share a {
    display: block;
    text-align: center;
    color: #ffa500;
    font-size: 28px;
    text-decoration: none;
}

/* end */

:host ::ng-deep q {
    quotes: "“" "”";
    font-size: 24px;
    line-height: 1.4;
}

:host ::ng-deep q:before {
    content: open-quote;
    line-height: 0;
    position: relative;
    top: 39px;
    color: #ffa500;
    font-size: 70px;
    margin-right: 10px;
}

:host ::ng-deep q:after {
    content: close-quote;
    display: inline;
    line-height: 0;
    left: 10px;
    position: relative;
    top: 35px;
    color: #ffa500;
    font-size: 70px;
}

:host ::ng-deep hr {
    border: 1px solid #ffa500;
    margin: 40px 0;
}

:host ::ng-deep p {
    margin-bottom: 40px;
}

:host ::ng-deep h1 {
    text-transform: uppercase;
    font-weight: 600;
    margin: 40px 0;
    border-bottom: 1px solid #ffa500;
}

:host ::ng-deep img {
    display: block;
    margin: 0 auto 40px auto;
    max-width: 100%;
}

#tags-header {
    background-color: #fff;
    color: #000;
}

.row {
    background-color: #ececec;
}

.col-xs-12 {
    padding: 25px;
}

.col-xs-3, .col-xs-9 {
    padding-left: 0;
    padding-right: 0;
}

.row.next-mind-share {
    background-color: #fff;
}

.author-info, .publish-info {
    text-transform: uppercase;
    letter-spacing: -0.5px;
    margin-bottom: 15px;
    width: 70%;
}

.author-info span.divider {
    color: #faa500;
    margin: 0 2px;
}

.details {
    padding-left: 0;
    padding-right: 0;
}

li {
    white-space: nowrap;
}

@media (min-width: 768px) {
    h1 {
        font-size: 42px;
    }

    .author-info {
        margin-bottom: 0;
    }

    .col-sm-3 {
        position: relative;
        top: -30px;
    }

    .details {
        width: 475px;
    }

    .author-info, .publish-info {
        width: 100%;
    }
}