h1 {
    font-weight: 600;
    margin-bottom: 20px;
}

img {
    width: 100%;
}

::ng-deep q {
    quotes: "“" "”";
    font-size: 24px;
    line-height: 1.4;
}

::ng-deep q:before {
    content: open-quote;
    line-height: 0;
    position: relative;
    top: 39px;
    color: #ffa500;
    font-size: 70px;
    margin-right: 10px;
}

::ng-deep q:after {
    content: close-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: 10px;
    position: relative;
    top: 35px;
    color: #ffa500;
    font-size: 70px;
}

::ng-deep hr {
    border: 1px solid #ffa500;
    margin: 40px 0;
}

::ng-deep p {
    margin-bottom: 40px;
}

.col-xs-12 {
    padding: 25px;
}

.col-xs-3, .col-xs-9 {
    padding-left: 0;
    padding-right: 0;
}

.author-info, .publish-info {
    text-transform: uppercase;
    letter-spacing: -0.5px;
    margin-bottom: 15px;
}

.author-info span.divider {
    color: #faa500;
    margin: 0 2px;
}