<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Meet Our People</h1>
        <div class="row">
          <div class="col-12 col-md-6">
            <img class="rounded" src="./assets/jeff-sallans.png" />
          </div>
          <div class="col-12 col-md-6">
            <h2>Jeff</h2>
            <h3>Senior Software Engineer</h3>

            <hr />
    
            <p>
              I came to X by 2 fresh from college after earning my Computer Science Bachelors of Engineering from the University of Michigan – Ann Arbor. Since then, I’ve remained at X by 2 for 4 years and have worked on a variety of different projects, both internal and external.
            </p>
    
            <hr />
    
            <dl>
              <dt>Projects Worked On</dt>
              <dd>So far, I’ve been a part of 4 client projects at X by 2. Of these, my favorite so far has been a life modernization project where I created a validation system implementation framework.</dd>
              <dt>Favorite Tools</dt>
              <dd>I tend to focus on front-end development which means that the tools I use are always changing. For this reason, I can’t even begin to pick one.</dd>
              <dt>Favorite Office Event</dt>
              <dd>My favorite event was the trip to Cedar Point. The Fast Passes made it that much better!</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>