<div id="meet-our-people-section" class="row">
  <div class="col-xs-12">
    <h4>Meet Our People</h4>
    <div class="row inside">
      <div class="col-xs-12 col-sm-6">
        <img src="./assets/people/stock.PNG" />
      </div>
      <div class="col-xs-12 col-sm-6">
        <h1>David Mitzel</h1>
        <h2>Architect & Senior Developer</h2>

        <p>
          I come from Chicago, Illinois by way of San Francisco, California.
          I love burritos and puppies (only those two things, and in that order).
          Oh and I really like to code.  Maybe that's because I've been doing it since
          I was six years old.
        </p>

        <hr />

        <dl>
          <dt>Pairs Of Shoes Owned</dt>
          <dd>25!  I have a problem.</dd>
          <dt>Favorite Color</dt>
          <dd>Do I really have to choose?  OK, it's Blue.</dd>
          <dt>Years Of Experience</dt>
          <dd>Depends on who is aksing.  But seriously, 10 years.</dd>
        </dl>

        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-linkedin"></i>
      </div>
    </div>
    <div class="row inside">
        <div class="col-xs-12">
          David Mitzel / David Mitzel / David Mitzel / David Mitzel / David Mitzel / David Mitzel
        </div>
      </div>
  </div>
</div>