img {
    width: 100%;
    padding: 50px 0;
}

h4 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    margin-bottom: 40px;
}

#about-us, #about-us-2 {
    position: relative;
    display: table;
    height: 76vw;
    width: 100%;
    background: url('../../assets/about-us.png') no-repeat top center;
    background-size: 100% auto;
    margin: 50px 0 80px 0;
}

.image {
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 768px) {
    #about-us, #about-us-2 {
        height: 38vw;
        margin-bottom: 20px;
    }

    #about-us {
        margin-left: 10px;
    }

    #about-us-2 {
        background: url('../../assets/about-us-2.png') no-repeat top center;
        background-size: 100% auto;
        margin-right: 10px;
    }
}