<app-page-header [headerText]='headerText'
                 [subheaderText]='subheaderText'>
</app-page-header>
<div class="row component-content">
  <div class="col-xs-12">
    <h4>We Make The Complex Simple</h4>
    <p>
      As I’ve helped my 2-year-old daughter through the first couple stages of 
      toilet training, it occurred to me that sometimes software development is a 
      similar process. Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
      ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
    <a routerLink='/our-expertise' class="xby2-link">
      Explore our Expertise
    </a>
    <h4>A Multi-Disciplinary Team</h4>
    <p>
      Our Team is a multicultural, and multi-discipline team of individuals who
      come together to form one team with a focused mission: to create. Lorem
      ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
      nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat.
      Duis aute irure dolor in
    </p>
    <p>
      Veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
      esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa
    </p>
  </div>
  <div class="hidden-xs col-sm-6 image">
    <div id="about-us-2"></div>
  </div>
  <div class="col-xs-12 col-sm-6 image">
    <div id="about-us"></div>
  </div>
</div>
