.home-expertise {
    height: 155px;
}

.home-expertise-img-wrapper {
    height: 70px;
}

img {
    display: block;
    margin: 0 auto;
    width: 45px;
}

a {
    color: #464646;
    text-decoration: none;
}

div.title {
    color: #ffa500;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

div.title a {
    color: #ffa500;
    text-decoration: none;
    font-size: 19px;
    line-height: 1;
}

div.title::after {
    content: " >";
}

p {
    line-height: 1;
    text-align: center;
}

p span {
    display: block;
    color: #ffa500;
    font-size: 20px;
    font-weight: 600;
    line-height: 2;
}

.col-xs-6 {
    padding-left: 25px;
    padding-right: 25px;
}

@media (min-width: 768px) {
    .home-expertise {
        height: 210px;
    }

    .col-md-4 {
        padding-left: 60px;
        padding-right: 60px;
    }

    div.title::after {
        content: "";
    }
}

@media (min-width: 992px) {
    .home-expertise {
        height: 230px;
    }
}

@media (min-width: 1200px) {
    img {
        width: 5vw;
    }

    div.title a {
        font-size: 1.8vw;
    }

    a {
        font-size: 1.5vw;
    }

    .home-expertise {
        height: 22vw;
    }

    .home-expertise-img-wrapper {
        height: 7vw;
    }

    p span {
        font-size: 2vw;
    }
}