@font-face {
  font-family: 'PT Sans Narrow Regular';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans Narrow Regular'),
    url(./ptSansNarrowRegular.woff) format('woff');
}

@font-face {
  font-family: 'PT Sans Narrow Bold';
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Narrow Bold'),
    url(./ptSansNarrowBold.woff) format('woff');
}