/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "ptSansNarrow";
    src: url("./assets/fonts/ptSansNarrowRegular.woff") format("woff");
    font-weight: 400;
}
  
@font-face {
    font-family: "ptSansNarrow";
    src: url("./assets/fonts/ptSansNarrowBold.woff") format("woff");
    font-weight: 600;
}

body {
    font-family: "ptSansNarrow";
    color: #363636;
    line-height: 1.2;
    margin-top: 6em;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.container {
    padding-top: 3em;
    padding-bottom: 3em;
}

a {
    color: #f89829;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.8em;
    padding-bottom: 1em;
    margin-bottom: 0;
}

h2 {
    color: #f89829;
    text-transform: uppercase;
    font-size: 1.4em;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    body {
        font-size: 1.1em;
    }
}

@media (min-width: 992px) {
    body {
        margin-top: 7em;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 1.2em;
    }
}