@font-face {
    font-family: "ptSansNarrow";
    src: url("./assets/fonts/ptSansNarrowRegular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "ptSansNarrow";
    src: url("./assets/fonts/ptSansNarrowBold.woff") format("woff");
    font-weight: 600;
}

body {
    font-family: "ptSansNarrow";
    color: #363636;
    line-height: 1.2;
    margin-top: 6rem;
    background-image: url('./assets/bg-tile.png')
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.container {
    padding-top: 2em;
    padding-bottom: 2em;
}

a {
    color: #f89829;
}

a:active,
a:visited,
a:hover {
    color: #f7a242;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.8em;
    text-align: center;
    margin-bottom: 0.5em;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    color: #f89829;
}

h3 {
    font-size: 1.25em;
    text-align: center;
    text-transform: uppercase;
}

hr {
    border: 1px solid #f89829;
    border-radius: 1em;
}

button.btn-xby2 {
    text-transform: uppercase;
    background-color: #f89829;
    display: block;
    text-align: center;
    font-weight: 600;
    padding: 0.2em 1em;
    color: #fff;
    margin: 0 auto;
    border-radius: 1em;
    cursor: pointer;
}

button.btn-xby2[disabled],
button.btn-xby2[disabled]:hover,
button.btn-xby2[disabled]:focus {
    background-color: #54565b;
    color: #aaa;
}

button.btn-xby2:focus {
    background-color: #eba960;
}

button.btn-xby2:active,
button.btn-xby2:hover {
    background-color: #eba960;
}

button.btn-xby2.btn-xby2-light {
    background-color: transparent;
    border: 1px solid #f89829;
    color: #666;
}

button.btn-xby2.btn-xby2-large {
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
}

.card {
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.3);
}

@media (min-width: 768px) {
    body {
        font-size: 1.1em;
    }

    div.card-bottom {
        height: auto;
        position: absolute;
        background-color: transparent;
        bottom: 1em;
        width: 100%;
        left: 0;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 1.2em;
    }
}
