:host ::ng-deep h1,
:host ::ng-deep h2 {
    text-align: center;
}

/*
.row {
    background-color: #fff;
}

.row.content {
    padding-top: 50px;
}

h1 {
    text-transform: none;
    font-weight: 400;
    border-bottom: 0;
}

h2, h3 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

h3 {
    font-size: 48px;
    margin-bottom: 40px;
}

.our-work, .contact-us {
    background-color: #ececec;
}

.col-xs-12.contact-us-form {
    margin: 45px 25px;
    padding: 40px 0 0 0;
    background-color: #fff;
    float: none;
    width: auto;
}

@media (min-width: 768px) {
    .hero-image {
        height: 43vw;
    }

    .post-content {
        font-size: 48px;
        margin: 0 80px;
    }

    .home-expertise {
        height: 260px;
    }

    .home-expertise div.title::after {
        content: "";
    }

    #client-story-listings {
        margin: 0 25px;
    }
}

@media (min-width: 992px) {
    .hero-image {
        height: 36vw;
    }

    .post-content {
        font-size: 58px;
    }

    #client-story-listings {
        margin: 0 60px;
    }

    .col-md-6 {
        padding-left: 60px;
        padding-right: 60px
    }

    .full-img-wrapper {
        position: relative;
    }

    .full-img {
        position: absolute;
        bottom: 0;
        width: 450px;
    }

    .col-xs-12.contact-us-form {
        margin: 45px 60px;
    }
}

@media (min-width: 1200px) {
    .hero-image {
        height: 32vw;
    }

    .post-content {
        font-size: 6vw;
    }

    h2 {
        font-size: 2.6vw;
    }

    h3 {
        font-size: 5vw;
    }

    .row.content {
        padding-top: 4vw;
    }

    .our-work a.see-all {
        font-size: 3vw;
    }

    .full-img {
        width: 37vw;
    }

    .featured-mind-share-section {
        padding-left: 0;
    }
}*/