<app-hero-image [imageUrl]="heroImageUrl">
  We are Architects for the<br />
  Insurance & Healthcare Industries
</app-hero-image>
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Services</h1>
      <hr />
      <div class="row">
        <app-home-service-card *ngFor="let service of services"
                             class="col-12 col-md-6 col-lg-4"
                            [service]="service">
        </app-home-service-card>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-xby2 btn-xby2-light"
                 [routerLink]="'services'">
            See All Services
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-featured-client-stories [featuredClientStories]="featuredClientStories">
</app-featured-client-stories>
<app-featured-mind-share [featuredMindShare]="featuredMindShare">
</app-featured-mind-share>
<app-home-careers [featuredOpenPositions]="collectedOpenPositions">
</app-home-careers>