<app-hero-image></app-hero-image>
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Services</h1>
      <hr />
      <div class="row">
        <app-home-service-card *ngFor="let service of services"
                             class="col-12 col-md-6 col-lg-4"
                            [service]="service">
        </app-home-service-card>
      </div>
    </div>
  </div>
</div>
<app-featured-client-stories [featuredClientStories]="featuredClientStories">
</app-featured-client-stories>
<app-featured-mind-share [featuredMindShare]="featuredMindShare">
</app-featured-mind-share>
<app-home-careers [featuredOpenPositions]="collectedOpenPositions">
</app-home-careers>