.hero-image {
    position: relative;
    display: table;
    height: 187px;
    width: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
      ),
      url('../../assets/home-page.png') no-repeat top center;
    background-size: 100% auto;
}

.post-content {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    margin: 0 10px;
    text-align: center;
    font-size: 30px;
}

.row {
    background-color: #fff;
}

h2, h3 {
    text-transform: uppercase;
    text-align: center;
}

h2 {
    color: #ffa500;
    font-size: 28px;
    margin-top: 30px;
}

h3 {
    font-weight: 600;
    font-size: 48px;
    color: #464646;
    margin: 10px 0 40px 0;
}

.home-expertise {
    height: 190px;
}

.home-expertise-img-wrapper {
    height: 90px;
}

.home-expertise img {
    display: block;
    margin: 0 auto;
}

.home-expertise a {
    color: #464646;
    text-decoration: none;
}

.home-expertise div.title {
    color: #ffa500;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.home-expertise div.title a {
    color: #ffa500;
    text-decoration: none;
    font-size: 20px;
}

.home-expertise div.title::after {
    content: " >";
}

.home-expertise p {
    line-height: 1;
    text-align: center;
}

.home-expertise p span {
    display: block;
    color: #ffa500;
    font-size: 20px;
    font-weight: 600;
    line-height: 2;
}

.our-work, .contact-us {
    background-color: #ececec;
}

.our-work a.see-all {
    font-size: 24px;
    color: #ffa500;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.our-thoughts .mind-share {
    margin: 0 15px;
}

.our-thoughts img {
    display: block;
    margin: 0 auto;
}

.our-thoughts img.full-img {
    position: absolute;
    bottom: 0;
    max-height: 380px;
}

.our-thoughts h4 {
    text-align: center;
    font-size: 36px;
    margin: 20px 0;
}

.our-thoughts .author-info {
    font-size: 18px;
    text-align: center;
    color: #919295;
}

.our-thoughts .author-info .author {
    font-weight: 600;
}

.our-thoughts .author-info .author-divider {
    color: #eb9c45;
    font-weight: 600;
}

.our-thoughts p {
    margin: 20px 0;
    text-align: center;
}

.our-thoughts a {
    display: block;
    text-align: center;
    font-weight: 600;
    color: #eb9c45;
    font-size: 18px;
    margin: 20px 0;
}

.contact-us-form {
    margin: 25px;
    padding: 20px 0;
    background-color: white;
}

@media (min-width: 768px) {
    .hero-image {
        height: 300px;
    }

    .post-content {
        font-size: 48px;
        margin: 0 80px;
    }

    .home-expertise {
        height: 260px;
    }

    .home-expertise div.title::after {
        content: "";
    }
}