<div class="row">
  <div class="hero-image">
    <div class="caption post-content">
      {{title}}
    </div>
  </div>
</div>
<div class="row">
  <h2>Our Expertise</h2>
  <h3>What We Do</h3>
  <div *ngFor='let expertise of expertises'
        class='home-expertise {{expertise.class}}'>
    <div class="home-expertise-img-wrapper">
        <a routerLink="{{expertise.expertiseLink}}">
            <img [src]="expertise.imageUrl" />
        </a>
    </div>
    <div class="title">
      <a routerLink="{{expertise.expertiseLink}}">
        {{expertise.title}}
      </a>
    </div>
    <p class="hidden-xs">
      <a routerLink="{{expertise.expertiseLink}}">
        {{expertise.text}}
        <span>></span>
      </a>
    </p>
  </div>
</div>
<div class="row our-work">
  <h2>Our Work</h2>
  <h3>Client Stories</h3>
  <div *ngFor='let clientStory of clientStories'
        class='col-sm-4'>
    <div class='col-md-12 home-client-story'>
      <img [src]="clientStory.imageUrl" />
      <h4>{{clientStory.title}}</h4>
      <hr />
      <p>{{clientStory.description}}</p>
      <a [routerLink]="['/our-work', clientStory.id]">Read more ></a>
    </div>
  </div>
  <a class="col-sm-12 see-all" routerLink='/our-work'>See All ></a>
</div>
<div class="row row-eq-height our-thoughts">
  <div class="visible-md visible-lg col-md-6">
    <img class="img-responsive full-img" [src]="mindShare.authorFullImageUrl" />
  </div>
  <div class="col-xs-12 col-md-6">
    <h2>Our Thoughts</h2>
    <h3>Mind Share</h3>
    <div class="visible-xs visible-sm">
      <img [src]="mindShare.authorImageUrl" />
    </div>
    <h4>{{mindShare.title}}</h4>
    <div class="author-info">
      <span class="author">{{mindShare.author}}</span>
      <span class="author-divider">/</span>
      {{mindShare.authorTitle}}
    </div>
    <p>{{mindShare.shortDescription}}</p>
    <a [routerLink]="['/our-thoughts', mindShare.id]">Read more ></a>
  </div>
</div>
<div class="row contact-us">
  <div class="contact-us-form">
      <h2>Say Hello</h2>
      <h3>Contact Us</h3>
      <app-contact-us-form></app-contact-us-form>
  </div>
</div>