* {
    text-align: center;
}

.container-fluid {
    background-color: #363636;
}

p {
    color: #fff;
    margin-bottom: 2em;
}

a {
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
}

.socialMedia a {
    margin: 0 0.5em;
    text-decoration: none;
}

.copyright {
    font-size: 0.9em;
}

@media (min-width: 768px) {
    .socialMedia {
        text-align: left;
    }

    .description p {
        text-align: right;
    }
}