.container-fluid {
    background-color: #363636;
}

img {
    margin-bottom: 2em;
}

p {
    color: #fff;
    margin-bottom: 2em;
}

ul {
    column-count: 2;
    padding: 0;
    margin-bottom: 2em;
}

ul li {
    margin-bottom: 0.5em;
}

a {
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
}

.locations {
    margin-bottom: 1em;
}

.socialMedia {
    margin-bottom: 2em;
}

.socialMedia a {
    margin-right: 1em;
}

.copyright {
    font-size: 0.9em;
}

@media (min-width: 992px) {
    img {
        height: 4em;
    }

    .logo {
        padding-right: 5em;
    }

    .links {
        padding-left: 2em;
        padding-right: 2em;
    }

    .info {
        padding-left: 5em;
    }
}

@media (min-width: 1200px) {
    .logo {
        padding-right: 7em;
    }

    .links {
        padding-left: 3em;
        padding-right: 3em;
    }

    .info {
        padding-left: 7em;
    }
}