<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 socialMedia">
        <a *ngFor='let socialMediaLink of socialMediaLinks'
            href="{{socialMediaLink.link}}" target="_blank">
          <i class="{{socialMediaLink.icon}}"></i>
        </a>
      </div>
      <div class="col-12 col-md-6 description">
        <p class="copyright">
          Copyright &copy; 2018 X by 2, LLC<br />
          All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</div>