<app-hero-image [imageUrl]="'client-story/' + clientStory.imageUrl">
  <div class="description">
    {{clientStory.title}}
  </div>
  <div class="client">
    {{clientStory.client}}
  </div>
  <ul class="d-none d-md-block">
    <li *ngFor="let expertise of clientStory.expertises">
      {{expertise}}
    </li>
  </ul>
</app-hero-image>
<div class="container">
  <div class="row">
    <app-content-section class="col" [content]="clientStory.content">
    </app-content-section>
  </div>
</div>
<app-next-item-section *ngIf="clientStory.nextClientStoryId" [title]="clientStory.nextClientStoryTitle" [link]="['/client-stories', clientStory.nextClientStoryId]">
</app-next-item-section>