<app-page-header [headerText]='headerText'
                 [subheaderText]='subheaderText'>
</app-page-header>

<div class="container">
  <div class="row">
    <app-button-group class="col text-center"
                     [buttonGroupItems]="buttonGroupItems"
                     (registerClick)="performFilter($event)"></app-button-group>
  </div>
  <div class="row">
    <app-client-story-listing
       class="col col-md-6 col-lg-4"
      *ngFor='let clientStory of filteredClientStories |
              slice: 0:clientStoryDisplayCount'
      [clientStory]='clientStory'>
    </app-client-story-listing>
  </div>
  <div class="row">
    <div class="col">
      <button *ngIf="clientStoryDisplayCount < filteredClientStories?.length"
              class="btn btn-xby2 btn-xby2-light" type="button"
              (click)="loadMoreClientStories()">
        Load More
      </button>
    </div>
  </div>
  
</div>