.container {
    background-color: #fff;
}

ul li {
    display: inline;
    font-size: 1rem;
}

li + li:before {
    content: "/";
}

.client {
    font-size: 1.1rem;
    margin: 0.5em;
}

.description {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5em;
}

:host ::ng-deep app-hero-image .hero-image {
    height: 9.5em;
}

@media (min-width: 768px) {
    .client {
        font-size: 1.6rem;
    }
    
    .description {
        font-size: 4rem;
    }

    .container {
        box-shadow: 0 0 2em rgba(0, 0, 0, 0.25);
    }
}