.container-fluid {
  background-color: #fff;
}

.container {
  padding-top: 0;
  padding-bottom: 0;
}

img {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 2.25rem;
  color: #fff;
  margin-bottom: 0;
}

h2 {
  color: #fff;
}

.subheader {
  background-color: #f89829;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header-image {
  padding-right: 0;
  padding-left: 0;
}

@media (min-width: 768px) {
  img {
    height: auto;
  }

  .logo {
    border-bottom: 10px solid #97979b;
  }
}
